:javascript
  google.load('visualization', '1', {language: '#{iso639_locale}'});

%h1
  =t '.header'
  - if @starts_on && @ends_on
    %span=t '.period', starts_on: l(@starts_on, format: :short), ends_on: l(@ends_on, format: :long)
%p.attribution=t '.by', author: t('app.author_name'), organization: @questionnaire.organization.name

.blocks.clearfix
  - if @statistics[:visitors]
    .block.block-small
      .number
        = number_with_delimiter @statistics[:visitors]
      .title
        =t 'statistics.visitors'

  .block.block-small
    .number
      = number_with_delimiter @number_of_responses
    .title
      =t 'statistics.responses'
    .subtitle
      - if @statistics[:visitors]
        =t 'statistics.participation_rate', percentage: number_to_percentage(@number_of_responses / @statistics[:visitors].to_f * 100)

  .block.block-large
    .number
      = distance_of_time_in_words @questionnaire.time_to_complete
    .title
      =t 'statistics.time_to_complete'
    .subtitle
      &nbsp;

- if @charts[:responses]
  .columns.clearfix
    .column.offset
      %div(id="responses" style="width:600px;height:250px;")
- if @charts[:visits]
  .columns.clearfix
    .column.offset
      %div(id="visits" style="width:600px;height:250px;")
- if @charts[:sources]
  .columns.clearfix
    .column.offset
      %div(id="sources" style="width:600px;height:300px;")

%h2=t '.summary'

%h3=t '.detail.header'

- i = 0
- @questionnaire.sections.each do |section|
  - if section.questions.any?{|q| q.budgetary? || q.options?}
    %h4= section.title.html_safe

    - section.questions.each do |q|
      - if q.budgetary?
        %div(class="question subdue")
          %h5
            %span= i += 1
            = q.title.html_safe
      - elsif q.options?
        %div.question.subdue
          %h5
            %span= i += 1
            = q.title.html_safe
          - if q.description?
            %p
              %i
                =t :left_quote
                = strip_tags(RDiscount.new(q.description).to_html)
                =t :right_quote
      - unless q.widget == 'textarea'
        .graph{:id => "graph_#{q.id}"}

:javascript
  var locale = '#{system_locale}';

-# Google Charts adds null values for missing dates in the time series.
-# https://developers.google.com/chart/interactive/docs/gallery/linechart
- if @charts[:responses]
  :javascript
    draw('LineChart', 'responses', [
      "#{t 'statistics.responses'}"
    ], [#{@charts[:responses]}], {
      chartArea: {
        left: 30,
        width: '85%'
      },
      gridlineColor: '#ffffff',
      hAxis: {
        baselineColor: '#ffffff',
        format: '#{t :icu_date_format}'
      },
      legend: {
        position: 'none'
      },
      title: "#{t 'statistics.responses_title'}"
    });
- if @charts[:visits]
  :javascript
    draw('LineChart', 'visits', [
      "#{t 'statistics.visitors'}",
      "#{t 'statistics.visits'}",
      "#{t 'statistics.pageviews'}"
    ], [#{@charts[:visits]}], {
      chartArea: {
        left: 30,
        width: '85%'
      },
      gridlineColor: '#ffffff',
      hAxis: {
        baselineColor: '#ffffff',
        format: '#{t :icu_date_format}'
      },
      legend: {
        position: 'bottom'
      },
      title: "#{t 'statistics.visits_title', name: @statistics[:name], property: @statistics[:property]}"
    });
- if @charts[:sources]
  :javascript
    draw('PieChart', 'sources', [
      "#{t 'statistics.visitors'}"
    ], [#{@charts[:sources]}], {
      chartArea: {
        left: 0,
        width: '100%'
      },
      gridlineColor: '#ffffff',
      pieResidueSliceLabel: "#{t 'statistics.other'}",
      sliceVisibilityThreshold: 1 / 180,
      title: "#{t 'statistics.sources_title', name: @statistics[:name], property: @statistics[:property]}"
    });
