%header
  - if @questionnaire.logo?
    #logo
      = logo
  %h1.clearfix
    - if local_assigns[:header]
      = header
    - else
      - if @questionnaire.title_image?
        = image_tag @questionnaire.title_image.medium.url, height: '100', alt: ''
      = @questionnaire.title
  <!--[if gt IE 7]><!-->
  #facebook
    = facebook_button
  <!--<![endif]-->
  <!--[if gt IE 8]><!-->
  #twitter
    = twitter_button
  <!--<![endif]-->
