- if @questionnaire.stylesheet?
  - content_for :head do
    %style
      = @questionnaire.stylesheet.html_safe
- @simulator.each do |section|
  %table(id="#{table_id(section)}" class="#{section.group}")
    %thead
      - unless section.title.blank? && section.nonbudgetary?
        %tr
          %th.category
            = render partial: 'title', locals: {object: section, placement: 'bottom'}
          %th.column.highlight
            - unless section.nonbudgetary?
              =t '.your_choice'
      - if section.description?
        %tr
          %td.description(colspan="2")
            :markdown
              #{section.description}
    %tbody
      - section.questions.each do |q|
        - unless @response.persisted? && %w(text textarea).include?(q.widget)
          %tr(id="question-#{q.id}")
            - if q.readonly?
              %td.description(colspan="2")
                - if q.title?
                  .header
                    = render partial: 'title', locals: {object: q, placement: 'bottom'}
                - if q.description?
                  :markdown
                    #{q.description}
            - elsif q.widget == 'static'
              %td.description
                .header
                  = render partial: 'title', locals: {object: q, placement: 'top'}
                - if q.description?
                  :markdown
                    #{q.description}
              %td.highlight
                %div(class="widget widget-#{q.widget}")
                  .control.control-static(data-widget="#{q.widget}" data-value="#{q.unit_amount}")
            - elsif q.nonbudgetary?
              %td.description(colspan="2")
                .header
                  = render partial: 'title', locals: {object: q, placement: 'bottom'}
                - if q.description?
                  :markdown
                    #{q.description}
                - # @todo Implement checkbox widget.
                - if %w(checkboxes radio).include?(q.widget)
                  %fieldset
                    .control-group
                      .controls
                        - if q.widget == 'checkboxes'
                          - q.options.each do |option|
                            = label_tag nil, class: 'checkbox' do
                              - if @response.persisted?
                                = check_box_tag "#{q.id}[]", option, @response.answer(q).include?(option), disabled: true
                              - else
                                = check_box_tag "#{q.id}[]", option
                              = option
                        - elsif q.widget == 'radio'
                          - q.options.each do |option|
                            = label_tag nil, class: 'radio' do
                              - if @response.persisted?
                                = radio_button_tag q.id, option, @response.answer(q) == option, disabled: true
                              - else
                                = radio_button_tag q.id, option
                              = option
                - elsif %w(select text textarea).include?(q.widget)
                  - if q.widget == 'select'
                    = select_tag q.id, options_for_select(q.options, @response.answer(q)), html_attributes(q)
                  - elsif q.widget == 'text'
                    = text_field_tag q.id, nil, html_attributes(q)
                  - elsif q.widget == 'textarea'
                    = text_area_tag q.id, nil, html_attributes(q)
            - elsif q.widget == 'option'
              %td.description(colspan="2")
                .header
                  = render partial: 'title', locals: {object: q, placement: 'top'}
                - if q.description?
                  :markdown
                    #{q.description}
                %fieldset
                  .control-group
                    .controls
                      - q.options.each_with_index do |option,i|
                        .control.control-option
                          = label_tag nil, class: 'radio' do
                            - if @response.persisted?
                              = radio_button_tag q.id, option, @response.answer(q) == option, 'class' => 'option', 'data-initial' => q.default_value, 'data-revenue' => q.revenue?, 'data-actual' => @response.answer(q), 'disabled' => 'disabled'
                            - else
                              = radio_button_tag q.id, option, q.selected?(option), 'class' => 'option', 'data-initial' => q.default_value, 'data-revenue' => q.revenue?
                            :markdown
                              #{q.labels[i]}
            - else # budgetary
              %td.description
                .header
                  = render partial: 'title', locals: {object: q, placement: 'top'}
                - if q.description?
                  :markdown
                    #{q.description}
              %td.highlight
                %div(class="widget widget-#{q.widget}")
                  - if %w(scaler slider).include?(q.widget)
                    .impact
                      %span.key
                      %span.value= number_to_currency 0
                    - if q.widget == 'scaler'
                      - if @questionnaire.mode == 'taxes'
                        .note=t @questionnaire.assessment_period, scope: :assessment_unit
                        .meta.maximum.taxes +
                        .meta.minimum.taxes -
                      - else
                        .meta.maximum= number_to_percentage(q.maximum_units * 100)
                        .meta.minimum= number_to_percentage(q.minimum_units * 100)
                    - elsif q.yes_no?
                      .meta.maximum=t :yes_label
                      .meta.minimum=t :no_label
                    - else
                      .meta.maximum=  number_with_precision(q.maximum_units)
                      .meta.minimum= [number_with_precision(q.minimum_units), q.unit_name].compact.join ' '
                    - if @response.persisted?
                      .control.control-slider.slider(data-widget="#{q.widget}" data-value="#{q.unit_amount}" data-initial="#{q.default_value}" data-minimum="#{q.minimum_units}" data-maximum="#{q.maximum_units}" data-step="#{q.step}" data-yes-no="#{q.yes_no? && 1}" data-revenue="#{q.revenue?}" data-actual="#{@response.answer(q)}" disabled="disabled")
                        = hidden_field_tag q.id, @response.answer(q)
                        .tick.lowest
                        .tick.initial
                        .tick.highest
                    - else
                      .control.control-slider.slider(data-widget="#{q.widget}" data-value="#{q.unit_amount}" data-initial="#{q.default_value}" data-minimum="#{q.minimum_units}" data-maximum="#{q.maximum_units}" data-step="#{q.step}" data-yes-no="#{q.yes_no? && 1}" data-revenue="#{q.revenue?}")
                        = hidden_field_tag q.id, q.default_value
                        .tick.lowest
                        .tick.initial
                        .tick.highest
                    - if q.omit_amounts?
                      .meta.maximum.maximum-amount &nbsp;
                      .meta.minimum.minimum-amount &nbsp;
                    - else
                      .meta.maximum.maximum-amount
                        = currency q.maximum_amount
                      .meta.minimum.minimum-amount
                        = currency q.minimum_amount
                  - elsif q.widget == 'onoff'
                    .impact
                      %span.key
                      %span.value= number_to_currency 0
                    .control.control-onoff
                      = hidden_field_tag q.id, '0' # Mimic an unchecked box.
                      - if @response.persisted?
                        = check_box_tag q.id, '1', @response.answer(q) == '1', 'class' => 'onoff', 'data-value' => q.unit_amount, 'data-initial' => q.default_value, 'data-no-label' => q.no_label, 'data-yes-label' => q.yes_label, 'data-revenue' => q.revenue?, 'data-actual' => @response.answer(q), 'disabled' => 'disabled'
                      - else
                        = check_box_tag q.id, '1', q.checked?, 'class' => 'onoff', 'data-value' => q.unit_amount, 'data-initial' => q.default_value, 'data-no-label' => q.no_label, 'data-yes-label' => q.yes_label, 'data-revenue' => q.revenue?
                    %div(class="meta maximum maximum-amount#{' changed' if q.unchecked?}")
                      = currency q.maximum_amount
                    %div(class="meta minimum minimum-amount#{' changed' if q.checked?}")
                      = currency q.minimum_amount
          - if @response.persisted? && @questionnaire.starts_at && @questionnaire.starts_at > Time.new(2014, 5, 15) # @todo Remove conditional
            %tr.graph-container
              %td(colspan="2")
                .graph{:id => "graph_#{q.id}"}
